*{
    background-color: red;
}
h1{
    font-size: larger;
    text-decoration: wavy;
    font-weight: 500;
    font-style: oblique;
    text-shadow: 0em;
    background-color: blue;
    color: red;
}
p{
    background-color: purple;
    color: black;
}
h2{
    color: royalblue;
    background-color: black
}
ol{
    color: springgreen;
    background-color: black
}
.div{
    background-color: blueviolet;
    color: orangered;
}
.header {
    font-family: helvetica;
    color: #337ab7;
    font-size: 50px;
    width: 100%;
    text-align: center;
    text-shadow: 6px 6px 6px #c9c6cc;
    display: block;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.video{
    height: 50%;
    width: 40%;
}

.navbar-light .navbar-nav .nav-link:hover,
.nav-item i:hover,
.navbar-light .navbar-nav .nav-link.active
.nav-item i.active{
    color: rgb(80, 255, 124);
}



.nav-item i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

}
  